rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /bollywood_night_registrations/{document} {
      allow create: if true;
      allow read: if false;
    }
    match /event_stats/{document} {
      allow read: if true;
      allow write: if true;
    }
  }
}
